{% extends "admin_template.html.twig" %}
{% block title %}
    Main page
{% endblock %}


{% block content %}
    {% if parameters.message.alert %}
        <div class="alert">
            <p>{{ parameters.message.alert }}</p>
        </div>
    {% elseif parameters.message.alert_error %}
        <div class="alert alert-error">
            <p>{{ parameters.message.alert_error }}</p>
        </div>
    {% endif %}

    <a href="/admin/create" class="btn">Create post</a>
    {% if parameters %}
        <table cellspacing="0">
            <tr>
                <th>id</th>
                <th>Header</th>
                <th>Text</th>
                <th>Created at</th>
                <th>Edited at</th>
                <th>Control</th>
            </tr>
        {% for post in parameters.post %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.header }}</td>
                <td>{{ post.text }}</td>
                <td>{{ post.created_at }}</td>
                <td>{{ post.edited_at }}</td>
                <td>
                    <a href="../admin/edit/{{ post.id }}" class="btn">Edit</a>
                    <a href="../admin/delete/{{ post.id }}" class="btn">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}


{% endblock %}
