{% extends "admin_template.html.twig" %}
{% block title %}
    Main page
{% endblock %}


{% block content %}
    {% if parameters.message.alert %}
        <div class="alert">
            <p>{{ parameters.message.alert }}</p>
        </div>
    {% elseif parameters.message.alert_error %}
        <div class="alert alert-error">
            <p>{{ parameters.message.alert_error }}</p>
        </div>
    {% endif %}

    <a href="/admin/create" class="btn">Create post</a>
    {% if parameters %}
        {% for post in parameters.post %}
            <div class="admin_post">
                <div class="admin_post__content">
                    <h1>{{ post.header }}</h1>
                    <p>{{ post.text }}</p>
                    <div class="additional">
                        <p>Id: <span>{{ post.id }}</span></p>
                        <p>Created at: <span>{{ post.created_at }}</span></p>
                        <p>Edited at: <span>{{ post.edited_at }}</span></p>
                    </div>
                </div>
                <div class="admin_post__controls">
                    <a href="../admin/edit/{{ post.id }}" class="btn">Edit</a>
                    <a href="../admin/delete/{{ post.id }}" class="btn">Delete</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
